<meta charset="utf-8">
<title><%= page_title() %></title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<meta name="author"content="汪振">
<meta name="keywords"content="coder.wang">
<meta name="keywords"content="wz.js.org">
<meta name="keywords" content="HTML,VUE,JS,微信小程序等">
<meta name="description" content="本站作为前端开发工程师-汪振的个人博客，主要用于日常学习记录，分享个人学习心得，欢迎访问">
<%- meta(page) %>

<% if (has_config('open_graph')) { %>
    <%- open_graph({
        twitter_id: get_config('open_graph.twitter_id'),
        twitter_site: get_config('open_graph.twitter_site'),
        google_plus: get_config('open_graph.google_plus'),
        fb_admins: get_config('open_graph.fb_admins'),
        fb_app_id: get_config('open_graph.fb_app_id'),
        image: get_og_image(page)
    }) %>
<% } %>

<% if (has_config('canonical_url')) { %>
<link rel="canonical" href="<%- get_config('canonical_url') %>" />
<% } %>

<% if (has_config('rss')) { %>
<link rel="alternative" href="<%- get_config('rss') %>" title="<%= get_config('title') %>" type="application/atom+xml">
<% } %>

<% if (has_config('favicon')) { %>
<link rel="icon" href="<%- url_for(get_config('favicon')) %>">
<% } %>

<%- _css(cdn('bulma', '0.7.2', 'css/bulma.css')) %>
<!-- <%- _css(iconcdn()) %> -->
<!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css" integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q" crossorigin="anonymous"> -->

<%- _css(fontcdn('Ubuntu:400,600|Source+Code+Pro')) %>
<%- _css(cdn('highlight.js', '10.2.0', 'styles/' + get_config('article.highlight') + '.css')) %>

<% if (has_config('plugins')) { %>
    <% for (let plugin in get_config('plugins')) { %>
    <%- partial('plugin/' + plugin, { head: true, plugin: get_config('plugins')[plugin] }) %>
    <% } %>
<% } %>

<%- _css('css/style') %>